Repository mlp6/Medical-Software-Design, pull requests merged in 2018-10, with the labels that each got.

#126 test fixtures
  Lectures/UnitTestingCI.md
  schedule.md
Labels: lecture

#127 git commit messages
  Lectures/GitFundamentals.md
Labels: lecture

#129 update python fundamentals ipynb
  .gitignore
  Assignments/PythonFundamentals.ipynb
  schedule.md
Labels: assignment

#130 update exceptions lecture
  Lectures/Exceptions_ExitCodes_Logging.md
  Lectures/example_try_except.py
  Lectures/exceptions_try_except.md
Labels: lecture

#131 update docstrings lecture content
  Lectures/UnitTestingCI.md
  Lectures/docstrings.md
  Lectures/sphinx.md
  schedule.md
Labels: lecture

#132 Update sylllabus.md: incorrect desk number
  syllabus.md
Labels: bug

#133 schedule update, pudb / PyCharm content
  Assignments/01_tool_setup_git_fundamentals.md
  Lectures/example_pudb.py
  Lectures/pudb.md
  Resources/pycharm.md
  requirements.txt
  schedule.md
Labels: lecture

#141 Update Class Roster Server
  Lectures/intro_web_services/class_roster_server/docker-compose.yml
  Lectures/intro_web_services/class_roster_server/requirements.txt
  Lectures/intro_web_services/class_roster_server/server.py
Labels: lecture
